<!DOCTYPE html>
<html lang="en">
  {{> source/components/head/template title="about" styles="/about/styles.css"}}
  <body>
    <h1>And I'm an about page!</h1>

    <script src="/about/module.js"></script>
  </body>
</html>