body {
    font-family: "Vollkorn", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
nav {
    color: $red;
    font-family: "Unica One", sans-serif;
    text-transform: uppercase;
}

p {
    max-width: 400px;
    text-align: justify;
}

.container {
    padding: 0 40px;
    transition: padding 0.5s;

    @media (max-width: 480px) {
        padding: 0;
    }

    nav ul {
        @media (max-width: 767px) {
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            padding-left: 0;
        }
    }
}

.container.columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    p {
        max-width: initial;
    }

    > div {
        box-sizing: border-box;
        flex: 1 0 33%;
        padding: 0 10px;

        @media (max-width: 767px) {
            flex: 1 0 50%;
        }

        @media (max-width: 480px) {
            flex: 1 0 100%;
        }
    }

    &.two  {
        > div:nth-child(odd) {
            flex: 0 1 25%;

            @media (max-width: 767px) {
                flex: 1 0 100%;
            }
        }

        > div:nth-child(even) {
            flex: 1 0 75%;
        }
    }
}
