header nav {
    transition: top 0.5s;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 40px;
    background: rgba(255, 255, 255, 0.75);

    ul {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        padding: 16px 0;

        li {
            display: block;

            a {
                transition: color 0.5s;
                display: block;
                text-decoration: none;
                padding: 10px;
                position: relative;

                &::before {
                    background-color: $red;
                    bottom: 0;
                    content: "";
                    height: 2px;
                    left: 0;
                    position: absolute;
                    right: 100%;
                    transition: right 0.5s;
                }

                &:focus::before, &:hover::before {
                    right: 0;
                }

                &:visited {
                    color: $black;
                }

                &:focus, &:hover {
                    color: $red;
                }
            }
        }
    }
}
