.hero {
    height: calc(100vh - 71px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-image:
        linear-gradient(
            to right,
            rgba(0, 0, 0, 0.25) 420px,
            rgba(0, 0, 0, 0)
        ),
        url(/assests/images/hero-bicycle.jpg);
    background-size: cover;

    div {
        padding: 20px;
    }

    p {
        color: $white;
    }

    p, h1, h2, h3, h4, h5 {
        text-shadow: 0 1px 0 $black;
    }

    h1, h2, h3, h4, h5 {
        background-color: rgba(255, 255, 255, 0.5);
        box-sizing: border-box;
        max-width: 400px;
        padding: 2px 5px;
    }
}