header nav ul {
    display: flex;
    justify-content: space-around;
    padding-left: 0;

    li {
        display: block;

        a {
            text-decoration: none;
            padding: 10px 5px;
            background-color: red;

            &:focus, &:hover {
                background-color: blue;
            }
        }
    }
}