<!DOCTYPE html>
<html lang="en">
    {{> source/partials/head title="Home"}}
    <body>
        <section class="container">
            {{> source/partials/header}}
        </section>
        <section class="container hero">
            <div>
                <h1>Bacon ipsum dolor amet</h1>
                <p>Bacon ipsum dolor amet capicola salami spare ribs landjaeger tail ball tip sirloin bacon meatball ham shank. Flank prosciutto tail chuck ham, beef porchetta pork loin spare ribs rump shank hamburger meatball sausage. Porchetta swine drumstick pork chop shoulder biltong. Flank bresaola hamburger chuck tail ham. Meatloaf landjaeger short loin frankfurter jerky capicola.</p>
            </div>
        </section>
    <script src="/main.min.js"></script>
</body>
</html>