<!DOCTYPE html>
<html lang="en">
  {{> source/components/head/template title="Welcome" styles="/index/styles.css"}}
  <body>
    <h1>I'm the index page!</h1>

    <script src="/index/module.js"></script>
  </body>
</html>